# Python / Backend
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.sqlite3
*.log

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.npm/

# OS / IDE
.DS_Store
.vscode/
.idea/

# Large binary / temp archives
react-bits-main.zip
India_State.shp
India_State.shx
